<h1>Search Amazon</h1>
<input ng-model="amazonSearchTerm" type="text" placeholder="Search Amazon">
<button ng-click="searchAmazon()">Search!</button>
<div class="row">
  <div ng-repeat="item in itemCollection">
    <div class="col s12 m3">
      <div class="card small">
        <div class="card-image">
          <img class="responsive-img" src="{{item.image}}">
          <span class="card-title">{{item.price}}</span>
        </div>
        <div class="card-content scrollspy">

          <p class="scrollspy">{{item.title}}</p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="{{item.image}}">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div> -->
