<div class="container">
  <div class="row">
    <div>
      <h5>Welcome to wedReg!</h5>
      <p>At wedReg, we like to make the registry process easy on the couple and
      their guests so when the big day comes, you'll have piece in mind that your
      guests were able to give you the gifts you actually want! Please take a
      minute and fill out this form, then we can start the fun!</p>
      <h5 data-field="id">The Couple</h5>
      <table>
        <tbody>
          <tr>
            <td class="input-field"><input class="validate" id="firstName1"
            ng-model="newCouple.firstName1" required="" type="text">
            <label class="teal-text lighten-1" for="firstName1">First
            Name</label></td>
            <td class="input-field"><input class="validate" id="lastName1"
            ng-model="newCouple.lastName1" required="" type="text"> <label class="teal-text lighten-1" for="lastName1">Last Name</label></td>
            <td>
              <h6>and</h6>
            </td>
            <td class="input-field"><input class="validate" id="firstName2"
            ng-model="newCouple.firstName2" required="" type="text">
            <label class="teal-text lighten-1" for="firstName2">First
            Name</label></td>
            <td class="input-field"><input class="validate" id="lastName2"
            ng-model="newCouple.lastName2" required="" type="text"> <label class="teal-text lighten-1" for="lastName2">Last Name</label></td>
          </tr>
        </tbody>
      </table>
      <h5 data-field="id">The Wedding Day</h5>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="ng-scope" ng-controller="newCouple.WeddingDate">
                <input input-date
                  type="text"
                  name="created"
                  id="inputCreated"
                  ng-model="currentTime"
                  container=""
                  format="mm/dd/yyyy"
                  months-full="{{ month }}"
                  months-short="{{ monthShort }}"
                  weekdays-full="{{ weekdaysFull }}"
                  weekdays-short="{{ weekdaysShort }}"
                  weekdays-letter="{{ weekdaysLetter }}"
                  disable="disable"
                  min="{{ minDate }}"
                  max="{{ maxDate }}"
                  today="today"
                  first-day="1"
                  clear="clear"
                  close="close"
                  select-years="15"
                  on-start="onStart()"
                  on-render="onRender()"
                  on-open="onOpen()"
                  on-close="onClose()"
                  on-set="onSet()"
                  on-stop="onStop()" />
              </div>
            </td>
            <td>
              <h6>in</h6>
            </td>
            <td class="input-field"><input class="validate" id="location"
            ng-model="newCouple.location" required="" type="text"> <label class="teal-text lighten-1" for="location">Location</label></td>
          </tr>
        </tbody>
      </table>
      <h6 data-field="id">If a guest has to miss your big day, where can they
      send gifts?</h6>
      <table>
        <tbody>
          <tr>
            <td class="input-field"><input class="validate" id="street"
            ng-model="newCouple.coupleStreet" required="" type="text">
            <label class="teal-text lighten-1" for="street">Address</label></td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td class="input-field"><input class="validate" id="city" ng-model="newCouple.coupleCity" required="" type="text"> <label class="teal-text lighten-1" for="city">City</label></td>
            <td class="input-field"><input class="validate" id="state"
            ng-model="newCouple.coupleState" required="" type="text">
            <label class="teal-text lighten-1" for="state">State</label></td>
            <td class="input-field"><input class="validate" id="zip" ng-model="newCouple.coupleZip" required="" type="text"> <label class="teal-text lighten-1" for="zip">Zip</label></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a class="waves-effect waves-green btn-flat"
        ng-click="addNewCouple()">Submit</a>
        <a class="waves-effect waves-green btn-flat" href="#!">Cancel</a>
      </div>
    </div>
  </div>
</div>
