  <div class="row">
    <form class="col s12">
      <div class="row">
        <h5>The Couple</h5>
        <div class="input-field col s2">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s2">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
        <span><h6>and</h6></span>
        <div class="input-field col s2">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s2">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <h5>The Wedding Day</h5>
        <div class="col s4" ng-controller="CoupleRegCtrl">

          <label for="inputCreated">Input date</label>
          <input type="date" class="datepicker">
<!--           <input input-date
              type="text"
              name="created"
              id="inputCreated"
              ng-model="currentTime"
              container=""
              format="dd/mm/yyyy"
              months-full="{{ month }}"
              months-short="{{ monthShort }}"
              weekdays-full="{{ weekdaysFull }}"
              weekdays-short="{{ weekdaysShort }}"
              weekdays-letter="{{ weekdaysLetter }}"
              disable="disable"
              min="{{ minDate }}"
              max="{{ maxDate }}"
              today="today"
              first-day="1"
              clear="clear"
              close="close"
              select-years="15"
              on-start="onStart()"
              on-render="onRender()"
              on-open="onOpen()"
              on-close="onClose()"
              on-set="onSet()"
              on-stop="onStop()" /> -->
        </div>
        <h6>in</h6>
        <div class="input-field col s2">
          <input id="location" type="text" class="validate" placeholder="Nashville, TN">
          <label for="location">Location</label>
        </div>
      </div>
      <div class="row">
        <h6>If a guest has to miss your big day, where can they send gifts?</h6>
        <div class="input-field col s10">
          <input id="street" type="text" class="validate">
          <label for="street">Address</label>
        </div>
        <div class="input-field col s3">
          <input id="city" type="text" class="validate">
          <label for="city">City</label>
        </div>
        <div class="input-field col s2">
          <input id="state" type="text" class="validate">
          <label for="state">State</label>
        </div>
        <div class="input-field col s2">
          <input id="zip" type="number" class="validate" maxlength="5">
          <label for="zip">Zip</label>
        </div>
      </div>
      <div class="row">
        <h5>Most importantly register for wedReg, so we can remember you!</h5>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label data-error="Please enter a valid email." data-success="Looks good!" for="email">Email</label>
        </div>
      </div>
      <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light">CANCEL</a>
        <a href="#" class="btn-large waves-effect waves-light teal lighten-1">SAVE</a>
      </div>
    </form>
  </div>
