<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h2 class="header center pink-text text-accent-1">{{couples.firstName1}} &#38 {{couples.firstName2}}</h2>
      <div class="row center">
        <h5 class="header col s12 light">{{couples.WeddingDate}} | {{couples.location}}</h5>
        <h5 class="header col s12 light"><span countdown end-date="{{couples.WeddingDate}}" units="days"></span> to go!</h5>
      </div>
      <div class="row">
        <div class="col s6 offset-s3">
          <span>
            <input ng-model="searchText.search" type="text" autofocus placeholder="Search Registered Items" class="white teal-text">
            <a ng-click="searchAmazon()" class="btn waves-effect waves-light teal lighten-1">Search</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax" parallax><img src="img/weddingbanner.png"></div>
</div>


<div class="row">
  <div ng-repeat="item in itemCollection | filter: searchText.search"">
    <div class="col s12 m5 offset-s1">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{item.image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 truncate">{{item.title}}<i class="material-icons right">more_vert</i></span>
          <h5 class="black-text">{{item.price}}</h5>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{item.descriptionTitle}}<i class="material-icons right">close</i></span>
          <p>{{item.comments}}</p>
        </div>
        <div class="card-action">
          <a href="{{item.link}}" target="_blank">View on Amazon</a>

<!-- Need to build controller to view couples contributed to gift -->
          <a ng-click="itemDelete(item.id)">Remove item</a>
        </div>
      </div>
    </div>
  </div>
</div>
