
<div class="modal" id="guestRegModal">
  <div class="row modal-content">
    <h5>Welcome to wedReg!</h5>
    <p>Please register before we proceed. We promise not to spam you, your info is just for the couple. At wedReg, we like to make the registry process easy on the couple and their guests. That's why we need your info first so the couple will know exactly where to send those handwritten thank you notes!</p>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s2">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s2">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <table>
          <tbody>
          <tr><td class="input-field"><input id="street" type="text" class="validate">
            <label class="center-align teal-text lighten-1" for="street">Address</label></td></tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr><td class="input-field"><input id="city" type="text" class="validate">
            <label class="center-align teal-text lighten-1" for="city">City</label></td>
            <td class="input-field"><input id="state" type="text" class="validate">
            <label class="center-align teal-text lighten-1" for="state">State</label></td>
            <td class="input-field"><input id="zip" type="text" class="validate">
            <label class="center-align teal-text lighten-1" for="zip">Zip</label></td></tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light">CANCEL</a>
        <a href="#" class="btn-large waves-effect waves-light teal lighten-1">SAVE</a>
      </div>
    </form>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-large">Submit</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-large">Cancel</a>
    </div>
  </div>
</div>
